@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

@font-face {

    font-family: 'Ranchers';
    src: url("ranchers.ttf") format('truetype');
}

@font-face {

    font-family: "DinPro";
    src: url("dinPro.otf") format('opentype');
}

body {
    font-family: DinPro, Ranchers, "Open Sans", Arial, Helvetica, sans-serif;


}
hr.new{
    
    border: 1px solid;
    color: #5DC1B9;
}

a {
    transition: all 0.3s ease;
    color: white;
}

.font-mascotas{

    color: #424242;
    font-weight: bold;
    font-size: 30px;
}

h1{

    font-weight: bold;
    color: #424242;
}

h2{
    font-weight: bold;
    color: #424242;
}

p {
    color: #424242;
    height: 40px;
    line-height: 100px;
}

.main{

    background-color: #5DC1B9;

}

.titulo{

    font-weight: bolder;
    height: 100%;
    font-size: 90px;
    width: 100%;

}

.subtitulo{
    
    top: 50px;
}

.principal-container{
    max-width: 1000px;
    width: 100%;


}

.principal-header{

    border-radius: 20px;
    background-color: white;
    padding: 20px;

}

.principal-tittle{

    font-size: 2rem;
    color: bisque;
}

.t-section{

    margin-bottom: 300px;
    position: relative;
}

.nav-bar{

    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
    padding-right: 50px;
    padding-left: 50px;
}


.tittle{

    text-align: center;

}

.center-image{

    display: block;
    margin: auto;
}

.nav-bar > button{

    color: #5DC1B9;
    font-weight: bold;
    
}

.nav-item {

    width: 20px;
    height: 8px;
    background-color: #5DC1B9;
    vertical-align: middle;

}

.nav-div{
    position: center;
    margin-right: 100px;
    padding-left: 200px;
    padding-top: 13px;

}

.nav-ref{

    margin: auto;
    height: 100%;
    display: inline-block;
    border-radius: 6px;
    background-color: white;
    border: none;
    color: black;
    font-weight: bold;
    padding: 3px 4px;
    justify-content: space-between;

}

.font-informado{

    font-size: 30px;
    color: white;
}

.imagen-mascota{

    float: right;
    margin-right: 100px;
    max-height: 180px;
    width: 30%;
    border-radius: 30px;
    height: auto;
    border: 5px solid #5DC1B9;
}

.imagen-graficos{
    
    border: 5px solid #5DC1B9;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 25%;
    
}

.imagen-censo1{

    float: right;
    position: absolute;
    top: 15%;
    left: 60%;
    max-height: 180px;

    border-radius: 30px;

    border: 5px solid #5DC1B9;

}
.imagen-censo3{

    float: right;
    position: absolute;
    top: 55%;
    left: 60%;
    shape-margin: 10%;
    max-height: 180px;
    border-radius: 30px;
    border: 5px solid #5DC1B9;

}
.imagen-censo2{

    float: right;
    position: absolute;
    top: 95%;
    left: 60%;
    shape-margin: 10%;
    max-height: 180px;

    border-radius: 30px;

    border: 5px solid #5DC1B9;

}



@media (max-width:960px){

    .nav-ref{

        position: center;
        height: 100%;
        display: block;
        border-radius: 6px;
        background-color: white;
        border: none;
        color: #5DC1B9;
        font-weight: bold;
        padding: 3px 40px;
        justify-content: space-between;

}
    .nav-item {

        background-color: #5DC1B9;
        vertical-align: middle;

}
    .nav-bar{
        min-width: 700px;
        max-width: 1000px;
        display: block;
        width: 100%;
        height: 100%;
        padding: 3px 40px;

}
    .nav-div{

        position: relative;
        left: -200px;
}
    .font-mascotas{

        color: #424242;
        font-weight: bold;
        font-size: 20px;
    }

    .font-informado{

        font-size: 20px;
    }

    .imagen-mascota{

        float: right;
        margin-right: 100px;
        min-width: 30%;
        max-width: 40%;
        width: 30%;
        border-radius: 20px;
        height: auto;
        border: 3px solid #5DC1B9;
}
}

.nav-ref:hover{

    background-color: #5DC1B9;
    color: white;
    text-decoration: none;
}

.tm-nav > ul > li.active > a > .tm-nav-deco,
.tm-nav > ul > li:hover > a > .tm-nav-deco
 {
  background-color: #0299CC;
}

.container-content{

    border-radius: 20px;
    background-color: white;
    padding: 50px;
    margin-top: 13px;

}

.container-menu{
    border-radius: 20px;
    background-color: white;
    padding: 10px;
}

.container-me{

    padding: 55px;
}

.principal-imagen{

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.input-style{

    border-radius: 5px;

}

.input-div{

    padding-bottom: 20px;
}

.input-style:focus{

    width: max-content;


}

.select-custom{

    border-radius: 5px;
    width: 270px;
}

.button-sub{

    border: none;
    color: white;
    background-color: #5DC1B9;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
}

.ver-button{

    border: none;
    color: white;
    background-color: #5DC1B9;
    border-radius: 5px;
    padding: 5px 20px;
    font-weight: bold;


}

.button-sub-out{

    margin-left: 00px;
    margin-top: 10px;
    border: none;
    color: #5DC1B9;
    background-color: white;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
}

.form-botones{

    margin-left: 300px;
}

.ver-botones{
    position: center;
    margin-left:5% ;
}

/*

CSS para Tablas

 */

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
}

th, td {
    padding: 1em;
    border: 1px solid white;


}

th{
    color: white;
    cursor: pointer;
    background-color: #5DC1B9;

}
tr:nth-child(odd){background-color: #bebebe;}
tr:nth-child(even){background-color: #ffffff;}

tr:hover{

    background-color: #5DC1B9;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popupBody{
    width: 46%;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0 0 5px #CCC;
    background: #FFF;
    position: relative;
    transition: all 1s ease-in-out;
    margin-top: 100px;
    margin-left: 27%;
    max-height: 80%;
    overflow-y: scroll;

}
.cerrar{
    position: absolute;
    top: -10px;
    right: 10px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #F00;
}

.font-censo{

    font-weight: bold;
    font-size: 20px;


}

hr.censo{

    margin-right: 50%;
    margin-top: 50px;
    margin-bottom: 0px;
    border: 1px solid;
    color: #5DC1B9;
    max-width: 50%;
}

.overlay-ver {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay-ver:target {
    visibility: visible;
    opacity: 1;
}
.popupBody-ver{

    width: 40%;
    height: 12%;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 5px #CCC;
    background: #FFF;
    position: relative;
    transition: all 1s ease-in-out;
    margin-top: 15%;
    margin-left: 30%;
    max-height: 80%;


}
