
body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  overflow-x: hidden;
  color: #2871ba;
}

a {
  transition: all 0.3s ease;
}

a:hover,
a:focus {
  text-decoration: none;
}

p {
  line-height: 1.8;
}

.principal-container{
    max-width: 1000px;
    width: 100%;


}

.principal-header{

    border-radius: 20px;
    background-color: white;
}

.principal-tittle{

    font-size: 2rem;
    color: bisque;
}

.t-section{

    margin-bottom: 300px;
    position: relative;

}

.nav-bar{

    position: relative;
    left: 220px;
    display: block;
    padding: 10px;

}

.tittle{

    text-align: center;
}

.center-image{

    display: block;
    margin: auto;
}

.nav-bar > ul > li {
  list-style: none;
}

.nav-bar > ul > li > a {
  display: block;
  padding: 12px 15px;
  color: #999A9B;
}

.nav-bar > ul > li.active > a,
.nav-bar > ul > li > a:hover,
.nav-bar > ul > li > a:focus {
  color: #0299CC;
}

.nav-item {

  width: 20px;
  height: 8px;
  background-color: #6893bf;
  vertical-align: middle;

}

.nav-botton{

    border-radius: 6px;
    background-color: #b3d7ff;
    border: 1px solid #b3d7ff;


}

.nav-botton:hover{

    background-color: #95c6f5;
    border-radius: 6px;
    border: 1px solid #b3d7ff;

}

.tm-nav > ul > li.active > a > .tm-nav-deco,
.tm-nav > ul > li:hover > a > .tm-nav-deco
 {
  background-color: #0299CC;
}

.container-content{
    border-radius: 20px;
    background-color: #ffffff;

}

.container-me{

    padding: 55px;


}

@media (max-width: 945px) {
  .nav-bar {
    position: relative;
  }

  .container-content {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.principal-imagen{

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.imagen-mascota{

    float: right;
    margin-right: 100px;
    width: 250px;
}

