@font-face {

    font-family: 'Ranchers';
    src: url("ranchers.ttf") format('truetype');
}

@font-face {

    font-family: "DinPro";
    src: url("dinPro.otf") format('opentype');
}

body {
    font-family: DinPro, Ranchers, "Open Sans", Arial, Helvetica, sans-serif;

}
hr.new{
    
    border: 1px solid;
    color: #5DC1B9;
}

a {
    transition: all 0.3s ease;
    color: white;
}

.font-mascotas{

    color: #424242;
    font-weight: bold;
    font-size: 30px;
}

h1{

    font-weight: bold;
    color: #424242;
}

h2{
    font-weight: bold;
    color: #424242;
}

p {
    color: #424242;
    height: 40px;
    line-height: 100px;
}

.main{

    background-color: #5DC1B9;

}

.titulo{

    font-weight: bolder;
    height: 100%;
    font-size: 90px;
    width: 100%;

}

.subtitulo{
    
    top: 50px;
}

.principal-container{
    max-width: 1000px;
    width: 100%;

}

.principal-header{

    border-radius: 20px;
    background-color: white;
    padding: 20px;

}

.principal-tittle{

    font-size: 2rem;
    color: bisque;
}

.t-section{

    margin-bottom: 300px;
    position: relative;
}

.nav-bar{

    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
    padding-right: 50px;
    padding-left: 50px;
}


.tittle{

    text-align: center;

}

.center-image{

    display: block;
    margin: auto;
}

.nav-bar > button{

    color: #5DC1B9;
    font-weight: bold;
    
}

.nav-item {

    width: 20px;
    height: 8px;
    background-color: #5DC1B9;
    vertical-align: middle;

}

.nav-div{

    margin-right: 100px;
    padding-left: 200px;
    padding-top: 13px;

}

.nav-ref{

    margin: auto;
    height: 100%;
    display: inline-block;
    border-radius: 6px;
    background-color: white;
    border: none;
    color: black;
    font-weight: bold;
    padding: 3px 4px;
    justify-content: space-between;

}


.div-photomain {

    position: relative;
    left: -10%;

}

.font-informado{

    font-size: 30px;
    color: white;
}

.imagen-mascota {
    float: right;
    width: 300px;
    height: 180px;
    border-radius: 30px;
    border: 5px solid #5DC1B9;
}

.imagen-graficos {
    margin-top: 10px;
    width: 68%;
    align-content: center;
    position: relative;
    left: 19%;
}

.imagen-censo1{

    max-height: 180px;
    border-radius: 30px;
    border: 5px solid #5DC1B9;

}
.imagen-censo3{

    max-height: 180px;
    border-radius: 30px;
    border: 5px solid #5DC1B9;

}
.imagen-censo2{

    max-height: 180px;
    border-radius: 30px;
    border: 5px solid #5DC1B9;

}

.div-censo1{

    position: absolute;
    top: 165px;
    left: 60%;

}

.div-censo2{

    position: absolute;
    top: 420px;
    left: 60%;
    
}

.div-censo3{

    position: absolute;
    top: 666px;
    left: 60%;
    
}
.nav-ref:hover{

    background-color: #5DC1B9;
    color: white;
    text-decoration: none;
}

.tm-nav > ul > li.active > a > .tm-nav-deco,
.tm-nav > ul > li:hover > a > .tm-nav-deco
 {
  background-color: #0299CC;
}

.container-content{

    border-radius: 20px;
    background-color: white;
    padding: 50px;
    margin-top: 13px;

}

.container-content-image{

    border-radius: 20px;
    background-color: #5DC1B9;
    padding: 50px;
    margin-top: 13px;

}

.container-menu{
    border-radius: 20px;
    background-color: white;
    padding: 10px;
}

.container-me{


    width: 100%;
    position: relative;
    height: 100%;
}

.principal-imagen{

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.input-style{

    min-width: 10%;
    border-radius: 5px;
    border-color: #d6d6d6;

}

.input-div{

    padding-bottom: 20px;

}

.input-style:focus{

    width: max-content;
    border-color: #d6d6d6;


}

.select-custom{

    border-radius: 5px;
    width: 30%;
}

.button-sub{

    border: none;
    color: white;
    background-color: #5DC1B9;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
}

.ver-button{

    border: none;
    color: white;
    background-color: #5DC1B9;
    border-radius: 5px;
    padding: 5px 20px;
    font-weight: bold;
    width: 48%;

}

.button-sub-out{


    margin-left: 00px;
    margin-top: 10px;
    border: none;
    color: #5DC1B9;
    background-color: white;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
}

.form-botones{

    margin-right: 30%;
    position: relative;
    left: 30%;

}

.ver-botones{

    width: 100%;
    height: 100%;
    margin-left: 2%;

}

/*

CSS para Tablas

 */

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
}

th, td {
    padding: 1em;
    border: 1px solid white;

}

th{
    color: white;
    cursor: pointer;
    background-color: #5DC1B9;

}
tr:nth-child(odd){background-color: #bebebe;}
tr:nth-child(even){background-color: #ffffff;}

tr:hover{

    background-color: #5DC1B9;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {

    visibility: visible;
    opacity: 1;
}
.popupBody{
    width: 50%;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0 0 5px #CCC;
    background: #FFF;
    position: relative;
    transition: all 1s ease-in-out;
    margin-top: 100px;
    margin-left: 25%;
    max-height: 80%;
    overflow-y: scroll;

}
.cerrar{
    position: absolute;
    left: 5%;
    top: 0px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #F00;
    cursor: pointer;

}
.font-censo{

    font-weight: bold;
    font-size: 20px;

}

hr.censo{

    margin-right: 50%;
    margin-top: 50px;
    margin-bottom: 0px;
    border: 1px solid;
    color: #5DC1B9;
    max-width: 50%;
}
.overlay-ver {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay-ver:target {
    visibility: visible;
    opacity: 1;
}
.popupBody-ver{

    width: 40%;
    height: auto;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 5px #CCC;
    background: #FFF;
    position: fixed;
    transition: all 1s ease-in-out;
    margin-top: 12%;
    margin-left: 30%;

}

.popup-error{

    width: 30%;
    height: 12%;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 5px #CCC;
    background: #FFF;
    position: fixed;
    transition: all 1s ease-in-out;
    top: 30%;
    left: 35%;


}
.img800{

    position: absolute;
    top: 0;
    left: 3%;
    visibility: hidden;
    transition: opacity 100ms;
    opacity: 1;
   
}
.img800:target {

    visibility: visible;
    opacity: 1;
}

.imagen-ampliada{

    position: relative;
    top: 100%;
    margin-top: 1%;
    background-color: #5DC1B9;
    border-radius: 5px;
    padding: 50px;
    transition: all 0.3s ease-in-out;
}

.info-div{

    margin-bottom: 7%;
    padding-bottom: 10px;
    width: 100%;
}

.button-nav{

    position: absolute;
    
}

.button-ref{

    margin: auto;
    height: 100%;
    display: inline-block;
    border-radius: 6px;
    background-color: #5DC1B9;
    border: none;
    color: black;
    padding: 3px 6px;
    justify-content: space-between;

}

.button-ref:hover{

    margin: auto;
    height: 100%;
    display: inline-block;
    border-radius: 6px;
    background-color: white;
    border: none;
    color: black;
    padding: 3px 4px;
    justify-content: space-between;
    text-decoration: none;

}

@media (max-width:960px){

    .container-me{


        width: 100%;
        position: relative;
        margin-top: 15%;

}

    .titulo{

        font-size: 50px;
    }

    .nav-ref{

        height: 100%;
        width: 300px;
        display: block;
        border-radius: 6px;
        background-color: white;
        border: none;
        color: black;
        font-weight: bold;
        padding: 3px 40px;
        justify-content: space-between;
        margin-left: 0px;
}
    .nav-item {

        background-color: #5DC1B9;
        vertical-align: middle;
}
    .nav-bar{
        min-width: 450px;
        max-width: 1000px;
        display: block;
        width: 100%;
        height: 100%;
        padding: 3px 40px;
}
    .nav-div{

        position: relative;
        left: -200px;
}
    .font-mascotas{

        color: #424242;
        font-weight: bold;
        font-size: 20px;
    }
    .font-informado{

        font-size: 20px;
    }
    .imagen-mascota {

        float: unset;
        min-width: 30%;
        min-height: 30%;
        width: 212px;
        height: 149px;
        border-radius: 30px;
        border: 5px solid #5DC1B9;
        left: 10%;
        position: relative;
    }


    .form-botones{

        margin-right: 30%;
        position: relative;
        left: 20%;

    }
    .popupBody {
        width: 100%;
        left: -100px;
        border-radius: 15px;
        box-shadow: 0 0 5px #CCC;
        background: #FFF;
        position: absolute;
        transition: all 1s ease-in-out;
        margin-top: 100px;
        overflow-y: scroll;
    }
    .font-censo{

        font-weight: bold;
        font-size: 100%;

}
    .input-style{

        width: 100%;
        border-radius: 5px;
        border-color: #d6d6d6;

    }
    h2{

        font-size: 25px;
    }

    .popup-error{

        width: 40%;
        height: 30%;
        padding: 15px;
        border-radius: 15px;
        box-shadow: 0 0 5px #CCC;
        background: #FFF;
        position: fixed;
        transition: all 1s ease-in-out;
        top: 30%;
        left: 30%;


}
    .ver-botones {
        width: 100%;
        height: 100%;
        margin-left: 0px;
        font-size: 100%;
}

#mapid { height: 180px; }


}

/* CSS para el mapa */

.bloque-principal{

    overflow-y: auto;
    width: 320px;
    height: 180px;

}

.seccion-foto{
    height: 170px;
}

.bloque-texto-foto{

    position: relative;
    left: 163px;
    top: -134px;
    width: 120px;
}

.texto-foto{

    font-weight: bold;


}